<header>
        <div class="jumbotron text-center">
            <h1>Hotel Finder</h1>
            <form action="" method="POST" id="hotelSearchForm">
                <label for="searchTerm">Search by hotel name or location</label>
                <br>
                <input type="text" id="searchTerm" name="searchTerm">
                <input type="submit" value="Find your hotel!" />
            </form>
        </div>
    </header>

    <ul id="hotelsList"></ul>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="public/js/hotelsScript.js"></script>