 <header>
        <h1>Profile</h1>
    </header>
    <main>
        <div>
           <h3>{{name}}</h3> 
        </div>
        <div>
            <h3>Planned Trips</h3>
        </div>
        <div>
            <h3>Past Trips</h3>
        </div>
        <div>
            <h3>Comments</h3>
        </div>
        <div>
            <h3>Reviews</h3>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="public/js/profile.js"></script>