<br>
<p class="error"> {{error}}</p>
<form method="POST" id="login-form" class="new-post-form" action="/login">
		<label id="formLabel">
            <h3>Username:</h3>
            <br>
			<input type="username" id ="username" name="username" class="full-width-input" value="{{username}}" required/>
            <h3>Password:</h3>
            <br>
            <input type="password" id ="password" name="password" class="full-width-input" value="{{password}}" required/>
			<button type="submit" class="btn btn-primary btn-lg">Login</button>
		</label>
	</form>
<a href="/signup">Need to register? Click here to sign-up</a>  
<br>