<br>
<p class="error"> {{error}}</p>
<form method="POST" id="login-form" class="new-post-form" action="/login">
		<label id="formLabel">
            <h3>Username:</h3>
            <br>
			<input type="username" id ="username" name="username" class="full-width-input" value="{{username}}" required/>
            <h3>Password:</h3>
            <br>
            <input type="password" id ="password" name="password" class="full-width-input" value="{{password}}" required/>
			<button type="submit" class="btn btn-primary btn-lg">Login</button>
		</label>
	</form>
<br>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../../public/js/loginScript.js"></script>