 <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        <div>
           <h2>Welcome {{name}}!</h2> 
            <h2>Planned Trips</h2>
        </div>
        <div >
        </div>
        <div >
            <h2>Past Trips</h2>
        </div>
        <div>
            <h2>Comments</h2>
        </div>
        <div>
            <h2>Reviews</h2>
            <ul>
                <li>
                    Review One
                </li>
                <li>
                    Review Two
                </li>
            </ul> 
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="public/js/profile.js"></script>
