* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
	
}

body {
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;


}

main {
	max-width: 100%;
	margin: auto;
}

header {
	border-bottom: 1px solid rgb(2, 117, 216);
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1.05rem;
}

p {
	font-size: 1rem;
	line-height: 2;
	font-family:"Times New Roman";
	color:green;
	text-align: center;
}

.post {
	width: 100%;
	border-bottom: 1px dashed #333;
}

.new-post-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

}

.new-post-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
	
}
/* button{
	background-color: rgb(2, 117, 216);
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
} */
.btn-custom {
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

label {
	font-weight: bold;
}

input{
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid rgb(2, 117, 216);
}

.error{
    color: red;
    font-weight: bold;
}

footer{
    text-align: center;
    font-size: small;
    color: salmon;
}


br{
    color: rgb(96, 144, 192);
}

.profile-header {
	text-align: center;
}