* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14pt;
  height: 100%;
}

body {
  background: #dedede;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
  max-width: 100%;
  margin: auto;
}

header {
  border-bottom: 1px solid rgb(2, 117, 216);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 2;
  font-family: "Times New Roman";
  color: green;
  text-align: center;
}

ul{ 
  list-style-type: none;
}

h2.indent {
  text-indent: 1%;
}

h4.small-indent {
  text-indent: 2%;
}

.post {
  width: 100%;
  border-bottom: 1px dashed #333;
}

.new-post-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.new-post-form .full-width-input {
  display: block;
  min-height: 3em;
  margin: 10px 0;
  width: 100%;
}
/* button{
	background-color: rgb(2, 117, 216);
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
} */
.btn-custom {
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}

label {
  font-weight: bold;
}

input {
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid rgb(2, 117, 216);
}

.error {
  color: red;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: small;
  color: salmon;
}

br {
  color: rgb(96, 144, 192);
}

.profile-header {
  text-align: center;
}

.resize {
  width: 300px;
  height: auto;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3548&q=80");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-short {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3548&q=80");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Indie Flower", cursive;
}

nav {
  margin-bottom: 0 !important;
  border: 0 !important;
}

.hotel-item {
  font-size: 3rem;
  color: #6c757d;
}
